


/*Proyectos*/

.Con{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    transition: .2s all;
}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 450px;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid;
    box-shadow: 3px 3px 2px 0px;
    transition: .2s all;
}
.contenedor:hover{
    scale: 1.03;
    transition: .2s all;
    box-shadow: 10px 10px 0px 0px;
}
.bannder {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.contenedor p{
    text-align: start;
    text-wrap: wrap;
    width: 90%;
    height: auto;
    margin-top: -10px;
}

.contenedor a{
    color: black;
    text-align: start;
    margin: 20px;
    width: 90%;
    height: 30px;
}

.contenedor span{
    width: 90%;
    font-size: 20px;
    font-weight: bold;
}


.Barra{
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 15px;
}

@media (max-width: 768px) {
}