{% extends 'layout.html' %}

{% block content %}

<section class="Con"> <!--Proyctos hechos y subidos-->

    {% for data in datos %}
        <section class="contenedor">
            <img src="{{ url_for('static', filename=data.img ) }}" alt="" class="bannder">
            <span>{{data.title}}</span>
            <div class="Barra"></div>
            <!--Maximo 230 Letrass-->
            <p>{{data.description}}</p>
            <p>{{data.description2}}</p>
            <a href="{{ data.link }}">Web</a>
        </section>
    {% endfor%}
        
</section>




{% endblock %}