<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }} - NioyDev</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
        </ul>
    </nav>


    <!--Donde se mostraras las plantillas-->
    <main>
        {% block content %}{% endblock %}
    </main>


</body>

</html>